.content-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  
  .searchbar-centered {
    width: 90%;
    max-width: 500px;
    margin: 0 auto 20px auto;
  }
  
  ion-card {
    margin: 15px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ion-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  
  ion-avatar {
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ion-card-title {
    font-size: 1.5em;
    margin: 0;
    color: white;
  }
  
  ion-card-subtitle {
    font-size: 1em;
    color: #666;
    margin-top: 5px;
  }
  
  ion-card-content {
    padding: 15px;
    width: 100%;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .field-content {
    text-align: center;
    margin-top: 5px;
  }
  
  .field-value {
    margin-top: 5px;
  }
  
  ion-icon {
    margin-bottom: 5px;
    color: #007bff;
    font-size: 1.2em;
  }
  
  ion-card-content a {
    color: #007bff;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  ion-spinner {
    margin: 20px 0;
  }
  
  ion-text {
    margin-top: 20px;
    font-size: 1em;
    color: #888;
  }

  .repos-label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
  }
  